<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/element-ui/2.15.9/theme-chalk/index.css">
    <style>
        header a{
            text-decoration: none;
            color: #6c6c6c;
        }

    </style>
</head>
<body>
<div id="app">
    <el-container>
        <el-header height="150px">
            <div style="width: 1200px;margin: 0 auto">
                <img src="imgs/logo.png"  style="width: 300px;vertical-align: middle" alt="">
                <a href="">首页</a><el-divider direction="vertical"></el-divider>
                <a href="">热点资讯</a><el-divider direction="vertical"></el-divider>
                <a href="">商家入驻</a><el-divider direction="vertical"></el-divider>
                <a href="">社会招聘</a><el-divider direction="vertical"></el-divider>
                <a href="">校园招聘</a><el-divider direction="vertical"></el-divider>
                <a href="">帮助</a>
            </div>
            <!--导航菜单开始-->
            <div style="background-color: #82c8ec">
                <el-menu style="width: 1200px;margin: 0 auto"
                        :default-active="activeIndex" class="el-menu-demo"
                         background-color="#82c8ec"
                         text-color="#fff"
                         active-text-color="#fff"
                         mode="horizontal" @select="handleSelect">
                    <el-menu-item v-for="c in categoryArr" :index="c.id">{{c.name}}</el-menu-item>

                    <div style="float:right;position: relative;top: 10px">
                        <el-input v-model="wd" placeholder="请输入搜索内容">
                            <el-button @click="search()" slot="append" icon="el-icon-search"></el-button>
                        </el-input>
                    </div>
                </el-menu>
            </div>
            <!--导航菜单结束-->
        </el-header>
        <el-main style="width: 1200px;margin: 0 auto;">
            <el-row gutter="20">
                <el-col span="12">
                    <el-card>
                        <img :src="product.url" width="100%" alt="">
                    </el-card>
                </el-col>
                <el-col span="12">
                    <p style="font-size: 25px">
                        {{product.title}}
                    </p>
                    <el-divider></el-divider>
                    <p style="font-size: 15px;color: #666">
                        销量:{{product.saleCount}} 浏览量:{{product.viewCount}}
                        <span style="float: right">{{product.created}}</span>

                    </p>
                    <p style="font-size: 25px;font-weight: bold">
                        ￥ {{product.price}}
                        <span style="font-size: 15px;color: #666">原价:<s>{{product.oldPrice}}</s></span>
                    </p>
                    <el-row gutter="20">
                        <el-col span="8">
                            <el-card>
                                <img src="imgs/ewm.jpg" width="100%" alt="">
                            </el-card>
                            <p style="text-align: center">扫码关注公众号</p>
                        </el-col>
                        <el-col span="8">
                            <el-card>
                                <img src="imgs/ewm.jpg" width="100%" alt="">
                            </el-card>
                            <p style="text-align: center">扫码购买商品</p>
                        </el-col>
                        <el-col span="8">
                            <el-card>
                                <img src="imgs/ewm.jpg" width="100%" alt="">
                            </el-card>
                            <p style="text-align: center">扫码下载App</p>
                        </el-col>
                    </el-row>
                </el-col>
            </el-row>
        </el-main>
        <el-footer>
            <div style="height: 95px;background-image: url('imgs/wave.png')"></div>
            <div style="background-color: #3f3f3f;
            text-align: center;color: #b1b1b1;padding: 30px 0">
                <p>Copyright © 北京达内金桥科技有限公司版权所有 京ICP备12003709号-3 京公网安备 11010802029572号
                </p>
                <p>达内在线WWW.TMOOC.CN 专注于IT职业技能培训</p>
                <p>涵盖20余门课程体系，致力于打造权威的IT职业教育学习平台</p>
            </div>
        </el-footer>
    </el-container>
</div>
</body>
<!-- import Vue before Element -->
<script src="https://cdn.staticfile.org/vue/2.6.14/vue.min.js"></script>
<!-- import JavaScript -->
<script src="https://cdn.staticfile.org/element-ui/2.15.9/index.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.1/axios.min.js"></script>

<script>
    let v = new Vue({
        el: '#app',
        data: function () {
            return {
                activeIndex:"1",
                topArr:[],
                wd:"",
                product:"",
                categoryArr:"",
            }
        },
        methods: {
            search() {
                location.href='/result.html?wd='+v.wd;
            },
            handleSelect(key,keyPath){
                console.log(key,keyPath);
                location.href = "/result.html?id="+key;
            }
        },

        created: function () {
            axios.get("/product/selectById"+location.search).then(function(response){
                v.product=response.data;

            })
            axios.get("category/select").then(function (response) {
                v.categoryArr = response.data;
            })
        }
    })
</script>
</html>