<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!--axios-->
    <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.1/axios.min.js"></script>

</head>
<body>
<div>
    <h1>BMI测试</h1>
    <input type="text" v-model="height" placeholder="身高(cm)">
    <input type="text" v-model="weight" placeholder="体重(kg)">
    <input type="button" value="开始测试" @click="f()">
    <h2>测试结果:{{result}}</h2>
</div>
</body>
<script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
<script>
    let v = new Vue({
        el: "body>div",
        data: {
            height: "",
            weight: "",
            result: ""
        },
        methods: {
            f() {
                axios.get("/bmi?height=" + v.height + "&weight=" + v.weight).then(function (response) {
                    v.result=response.data;
                    alert(v.result);
                })

            }
        }
    })
</script>
</html>