<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/element-ui/2.15.9/theme-chalk/index.css">

</head>
<body>
<div id="app">

    <template>
        <input type="text" placeholder="姓名" v-model="emp.name">
        <input type="text" placeholder="工资" v-model="emp.salary">
        <input type="text" placeholder="工作" v-model="emp.job">
        <input type="button" value="添加" @click="f()">
        <el-table
                :data="empArr"
                style="width: 100%">
            <el-table-column
                    type="index"
                    label="序号"
                    width="180">
            </el-table-column>
            <el-table-column
                    prop="name"
                    label="姓名"
                    width="180">
            </el-table-column>
            <el-table-column
                    prop="job"
                    label="工作"
                    width="180">
            </el-table-column>
            <el-table-column
                    prop="salary"
                    label="工资">
            </el-table-column>
            <el-table-column label="操作">
                <template slot-scope="scope">
                    <el-button
                            size="mini"
                            @click="handleEdit(scope.$index, scope.row)">编辑
                    </el-button>
                    <el-button
                            size="mini"
                            type="danger"
                            @click="handleDelete(scope.$index, scope.row)">删除
                    </el-button>
                </template>
            </el-table-column>
        </el-table>

    </template>


</div>
</body>
<!-- import Vue before Element -->
<script src="https://cdn.staticfile.org/vue/2.6.14/vue.min.js"></script>
<!-- import JavaScript -->
<script src="https://cdn.staticfile.org/element-ui/2.15.9/index.min.js"></script>
<script>
    new Vue({
        el: '#app',
        data:

            function () {
                return {
                    emp: {
                        name: "",
                        salary: "",
                        job: ""
                    },
                    empArr: [{name: "张三", job: "销售", salary: 5000},
                        {name: "八戒", job: "养猪", salary: 677677},
                        {name: "沙僧", job: "养鱼", salary: 35434}]
                }
            },
        methods: {
            f() {
                this.empArr.push({name: this.emp.name, salary: this.emp.salary, job: this.emp.job});
            },
            handleEdit(index, row) {
                this.$message(index + row.name);
            },
            handleDelete(index) {
                this.empArr.splice(index, 1);
            }
        }
    })
</script>
</html>