<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiwang.csmall.product.mapper.AlbumMapper">

    <!--selectAll-->
    <select id="selectAll" resultType="com.xiwang.csmall.product.pojo.entity.Album">
        select *
        from pms_album
    </select>

    <!--insert-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="album.id">
        insert into pms_album(name, description, sort)
        values (#{album.name}, #{album.description}, #{album.sort})
    </insert>


    <select id="getNormalById" resultType="com.xiwang.csmall.product.pojo.vo.AlbumNormalVO">
        select id, name, description, sort
        from pms_album where id=#{id}
    </select>
</mapper>
