<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h1>微博详情页面</h1>
    <h2>{{weibo.nickname}}说:{{weibo.content}}</h2>
    <p>发布于:{{weibo.created}}</p>
    <img v-for="url in weibo.urls.split(',')" :src="url" width="200" alt=""></br>
    <hr>
    <h2>评论相关</h2>
    <div v-for="comments in arr">
        <a href="" @click="del(comments.id)">删除</a>
        <p>{{comments.nickname}}评论说:{{comments.content}}</p>
    </div>
    <input type="text" v-model="comment.content " placeholder="输入评论">
    <input type="button" @click="sendComment()" value="评论">
</div>
</body>
<script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
<script>
    let v = new Vue({
        el: "body>div",
        data: {
            weibo: {urls: ""},
            comment: {content: "", weiboId: ""},
            arr: [],
        },
        methods: {
            sendComment() {
                v.comment.weiboId = v.weibo.id;
                axios.post("/comment/insert", v.comment).then(function (response) {
                    switch (response.data) {
                        case 1:
                            location.reload();
                            break;
                        case 2:
                            alert("请先登录在评论!")
                            location.href = "/login.html";
                            break;
                    }
                })
            },
            del(id) {
                if (confirm("确认删除?")) {
                    axios.get("/comment/del?id=" + id).then(function (response) {
                        switch (response.data) {
                            case 1:
                                alert("删除失败");
                                break
                            case 2:
                                alert("删除成功");
                                window.location.reload();
                                break;
                        }
                    })
                }

            },
        },
        created: function () {
            axios.get("/weibo/selectById" + location.search).then(function (response) {
                    v.weibo = response.data;
                }
            )
            axios.get("/comment/selectByWeiboId" + location.search).then(function (response) {
                v.arr= response.data;
            })
        }
    })
</script>
</html>