<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h1>登录页面</h1>

    <input type="text" v-model="user.username" placeholder="输入用户名" @blur="f()">
    <p>{{usernameError}}</p>

    <input type="password" v-model="user.password" placeholder="输入密码">
    <input type="button" value="登录" @click="login()">
</div>
</body>
<script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
<script>
    let v = new Vue({
        el: "body>div",
        data: {
            user: {
                username: "",
                password: ""
            },
            usernameError: "",
        },
        methods: {
            login() {

                axios.post("/login", v.user).then(function (response) {
                    switch (response.data) {
                        case 1:
                            alert("用户名不能为空");
                            break;
                        case 2:
                            alert("用户名不存在");
                            break;
                        case 3:
                            alert("用户名或密码错误");
                            break;
                        case 4:
                            alert("登录成功");
                            location.href = "/";
                            break;
                    }
                })
            },
            f() {
                axios.get("/check?username=" + v.user.username).then(function (response) {
                    switch (response.data) {
                        case 1:
                            v.usernameError = "用户名不能为空";
                            break;
                        case 2:v.usernameError="";break;
                        case 3:
                            v.usernameError = "用户名不存在";
                            break;
                    }
                })
            }
        }
    })
</script>
</html>