<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.1/axios.min.js"></script>
</head>
<body>
<div>
    <h1>工程首页</h1>
    <a href="/upload.html">上传图片</a>
    <hr>
    <div v-for="img in arr">
        <h2>图标介绍</h2>
        {{img.intro}}
        <img v-for="url in img.urlArr" :src="url" width="100" alt="">
        <a href="" @click="del(img.id)">删除</a>
    </div>
</div>
</body>
<script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.1/axios.min.js"></script>

<script>
    let v = new Vue({
        el: "body>div",
        data: {
            arr: [],
        },
        methods: {
            del(id) {
                if (confirm("确认删除?")) {
                    axios.get("/del?id=" + id).then(function (response) {
                        switch (response.data) {
                            case 1:
                                alert("删除失败");
                                break
                            case 2:
                                alert("删除成功");
                                window.location.reload();
                                break;
                        }
                    })
                }

            },
        },
        created: function () {
            axios.get("/select").then(function (response) {
                v.arr = response.data;
                for (let img of v.arr) {
                    img.urlArr = img.urls.split(",");
                }
            })
        }
    })
</script>
</html>