<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">

</head>
<body>
<div>
    <h1>上传页面</h1>
    <el-upload
            name="pic"
            action="/upload"
            list-type="picture-card"
            :on-success="handleSuccess"
            :on-preview="handlePictureCardPreview"
            :on-remove="handleRemove">
        <i class="el-icon-plus"></i>
    </el-upload>
    <el-dialog :visible.sync="dialogVisible">
        <img width="100%" :src="dialogImageUrl" alt="">
    </el-dialog>
    <hr>
    <el-input v-model="intro" placeholder="图片描述"></el-input>
    <el-button @click="send">发布图片</el-button>
    <!--    <img v-for="p in arr" :src="p" alt="">-->
</div>
</body>
<script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script src="https://cdn.staticfile.org/vue/2.6.14/vue.min.js"></script>
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>

<script>
    let v = new Vue({
        el: "body>div",
        data: function () {
            return {
                dialogImageUrl: '',
                dialogVisible: false,
                url: "",
                intro: "",
                arr: [],

            };
        },
        methods: {
            send() {

                for (let urls of v.arr) {
                    v.url += urls.response + ",";
                    alert(v.url);
                }
                let image = {intro: v.intro, urls: v.url}
                axios.post("/insert", image).then(function (response) {
                    alert("上传完成!");
                    location.href = "/";
                })
            },
            handleRemove(file, fileList) {
                console.log(file, fileList);
                // 当页面中删除文件的时候发出删除请求,把文件夹里的文件也删除掉
                axios.get("/remove?url=" + file.response).then(function (response) {
                    console.log("删除完成!");
                    v.arr.pop();
                })
            },
            handlePictureCardPreview(file) {
                this.dialogImageUrl = file.url;
                this.dialogVisible = true;
            },
            handleSuccess(response, file, fileList) {
                //response是上传成功时服务器返回的数据
                //file是上传的当前对象
                //fileList是上传的文件的数组
                console.log("图片上传成功!图片路径" + response);
                // v.url = file.response;
                v.arr = fileList;

            }
        }
    })
</script>
</html>