<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/element-ui/2.15.9/theme-chalk/index.css">
    <style>
        header a{
            text-decoration: none;
            color: #6c6c6c;
        }
        .el-table .el-table__cell{
            padding: 0;/*去掉自带的上下间距*/
        }
    </style>
</head>
<body>
<div id="app">
    <el-container>
        <el-header height="150px">
            <div style="width: 1200px;margin: 0 auto">
                <img src="imgs/logo.png"  style="width: 300px;vertical-align: middle" alt="">
                <a href="">首页</a><el-divider direction="vertical"></el-divider>
                <a href="">热点资讯</a><el-divider direction="vertical"></el-divider>
                <a href="">商家入驻</a><el-divider direction="vertical"></el-divider>
                <a href="">社会招聘</a><el-divider direction="vertical"></el-divider>
                <a href="">校园招聘</a><el-divider direction="vertical"></el-divider>
                <a href="">帮助</a>
            </div>
            <!--导航菜单开始-->
            <div style="background-color: #82c8ec">

                <el-menu  style="width: 1200px;margin: 0 auto"
                        :default-active="activeIndex" class="el-menu-demo"
                         background-color="#82c8ec"
                         text-color="#fff"
                         active-text-color="#fff"
                         mode="horizontal" @select="handleSelect">
                    <el-menu-item v-for="category in categoryArr" :index="category.id">{{category.name}}</el-menu-item>
                    <div style="float:right;position: relative;top: 10px">
                        <el-input placeholder="请输入搜索内容">
                            <el-button slot="append" icon="el-icon-search"></el-button>
                        </el-input>
                    </div>
                </el-menu>
            </div>
            <!--导航菜单结束-->
        </el-header>
        <el-main style="width: 1200px;margin: 0 auto;">
            <el-row gutter="20">
                <el-col span="18">
                    <el-carousel height="300px">
                        <el-carousel-item v-for="b in bannerArr">
                            <img :src="b.url" width="100%" height="100%" alt="">
                        </el-carousel-item>

                    </el-carousel>
                </el-col>
                <el-col span="6">
                    <el-card>
                        <h3>
                            <i style="font-weight: bold" class="el-icon-trophy">销量最高</i>
                        </h3>
                        <el-divider></el-divider>
                        <el-table :data="topArr">
                            <el-table-column label="排名" width="50" type="index"></el-table-column>
                            <el-table-column label="商品标题" width="80" prop="title"></el-table-column>
                            <el-table-column label="销量" width="80" prop="saleCount"></el-table-column>
                        </el-table>
                    </el-card>
                </el-col>
            </el-row>
            <!--商品列表开始-->
            <el-row gutter="20">
                <el-col span="6" v-for="p in productArr">
                    <el-card>
                        <img :src="p.url" width="100%" alt="">
                        <div>
                            <p style="font-size: 15px;height: 40px;margin-top: 0">
                                {{p.title}}
                            </p>
                            <p style="font-size: 12px;color: #666">
                                ￥{{p.price}} <s>{{p.oldPrice}}</s>
                                <span style="float: right">销量:{{p.saleCount}}</span>
                            </p>
                        </div>
                    </el-card>
                </el-col>
            </el-row>
            <!--商品列表结束-->



        </el-main>
        <el-footer>
            <div style="height: 95px;background-image: url('imgs/wave.png')"></div>
            <div style="background-color: #3f3f3f;
            text-align: center;color: #b1b1b1;padding: 30px 0">
                <p>Copyright © 北京达内金桥科技有限公司版权所有 京ICP备12003709号-3 京公网安备 11010802029572号
                </p>
                <p>达内在线WWW.TMOOC.CN 专注于IT职业技能培训</p>
                <p>涵盖20余门课程体系，致力于打造权威的IT职业教育学习平台</p>
            </div>
        </el-footer>
    </el-container>
</div>
</body>
<!-- import Vue before Element -->
<script src="https://cdn.staticfile.org/vue/2.6.14/vue.min.js"></script>
<!-- import JavaScript -->
<script src="https://cdn.staticfile.org/element-ui/2.15.9/index.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.1/axios.min.js"></script>

<script>
    let v = new Vue({
        el: '#app',
        data: function () {
            return {
                categoryArr: [],
                bannerArr:[],
                activeIndex:"1",
                topArr:[{title:"小米电视",saleCount:685},{title:"李宁毛巾",saleCount:457},
                    {title:"安踏拖鞋",saleCount:185},{title:"华为手机",saleCount:57},
                    {title:"耐克篮球",saleCount:32},{title:"联想电脑",saleCount:18}],
                productArr:[],
            }
        },
        methods: {
            handleSelect(key,keyPath){
                console.log(key,keyPath);
            }
        },
        created: function () {
            axios.get("category/select").then(function (response){
                v.categoryArr=response.data;
            })
            axios.get("/banner/select").then(function (response){
                v.bannerArr=response.data;
            })
            axios.get("/product/select").then(function (response) {
                v.productArr = response.data;
            })
        }
    })
</script>
</html>